@import 'variables/resolutions';

.personal-orders {
    &__orders-empty {}

    &__content {
        width: 100%;
        max-height: 0px;
        transform-origin: top center;
        transition: 0.25s;
        overflow: hidden;

        &_open {
            transition: 1s;
            max-height: 1000px;
        }
    }

    &__empty {
        width: 100%;
        margin-top: 50px;
        font-weight: bold;
        text-align: center;
    }


    &__items-list {
        width: 100%;
        margin-top: 25px;
    }

    &__item {
        justify-content: space-between !important;
        width: 100%;
        margin-top: 10px;

        &:first-child {
            margin-top: 0px;
        }

        @media (max-width: $mobile-vertical) {
            flex-direction: column;

            .personal-orders__text:first-child {
                margin: 10px 0px;
            }
        }
    }

    &__text {
        font-size: 18px;

        &_bold {
            font-weight: bold;
        }
    }

    &__footer {
        justify-content: space-between !important;
        width: 100%;
        margin-top: 25px;

        @media (max-width: $mobile-vertical) {
            flex-direction: column;
            align-items: flex-start;

            .personal-orders__text:first-child {
                margin-bottom: 15px;
            }
        }
    }
}