@import 'variables/resolutions';

.form {

    &_center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: calc(100vh - 50px);
    }

    &__card {
        width: 100%;
        padding: 20px;
        box-shadow: 0px 0px 10px gray;
        background-color: white;
        background-color: ghostwhite;
    }

    &__container {

        &_small {
            max-width: 900px;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;

        @media (max-width: $mobile-vertical) {
            font-size: 22px;
        }


        @media (max-width: $mobile-mini) {
            font-size: 18px;
        }
    }

    &__row {
        width: 100%;

    }

    &__block {
        width: 100%;
        margin: 0px 20px 20px 0px;

        &:last-child {
            margin: 0px 0px 20px 0px;
        }

        @media (max-width: $mobile-vertical) {
            margin: 0px 10px 20px 0px;
        }

    }

    &__label {
        display: inline-block;
        font-size: 18px;
        margin-bottom: 7px;

        @media (max-width: $mobile-vertical) {
            font-size: 16px;
        }
    }

    &__area {
        width: 100%;
        height: 100%;
        min-height: 150px;
        outline: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid rgb(183, 183, 183);
        resize: vertical;
    }

    &__selector,
    &__field {
        height: 100%;
        width: 100%;
        outline: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid rgb(183, 183, 183);

        &_readonly {
            background-color: rgb(215, 214, 214);
        }
    }

    &__error {
        margin-top: 5px;
        font-size: 14px;
        color: red;

        &_large {
            font-size: 18px;
        }
    }

    &__btns {
        justify-content: space-between !important;
        margin-top: 15px;

        @media (max-width: $mobile-vertical) {
            flex-direction: column;

            .form__btn:first-child {
                margin-bottom: 15px;
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        background-color: rgb(96, 87, 252);
        border-radius: 5px;
        border-width: 0px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 5px 15px;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
            background-color: hsl(243, 78%, 56%);
        }

        &_red {
            background-color: rgb(255, 92, 92);

            &:hover {
                background-color: rgb(222, 39, 39);
            }
        }

        &_circle {
            border-radius: 50px;
        }

        &_large {
            padding: 15px 45px;
        }

        &_mobile-full-width {
            @media (max-width: $mobile-vertical) {
                padding: 5px;
                width: 100%;
            }
        }
    }

    &__link {
        font-weight: bold;
    }

    &__text {
        &_small {
            font-size: 16px;

            @media (max-width: $mobile-vertical) {
                font-size: 14px;
            }
        }
    }
}

.new_user {
    width: 100%;
}