@import 'variables/resolutions';

.table {
    width: 100%;

    &__title {
        margin-bottom: 25px;

        @media (max-width: $mobile-vertical) {
            font-size: 20px;
            text-align: center;
        }
    }

    &__list {
        margin-top: 10px;
    }

    &__item {
        justify-content: space-between !important;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: rgb(246, 246, 246);
        padding: 10px;
    }

    &__row-block {
        display: flex;
        flex: 1;

        &_small {
            flex: 0.5;
        }
    }

    &__row-head {
        justify-content: space-between !important;
        width: 100%;
    }

    &__text {
        margin-right: 50px;

        &:last-child {
            margin-right: 0px;
        }

        &_bold {
            font-weight: bold;
        }

        @media (max-width: $mobile-vertical) {
            margin-right: 20px;
        }
    }

    &__btn {
        background-color: rgb(255, 204, 52);
        border-radius: 5px;
        color: white;
        font-weight: bold;
        padding: 7px 20px;
        text-align: center;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
            background-color: rgb(231, 181, 31);
        }

        &_new {
            background-color: rgb(0, 161, 0);

            &:hover {
                background-color: rgb(0, 209, 0);
            }

            @media (max-width: $mobile-vertical) {
                width: 100%;
                max-width: 100% !important;
            }
        }

        @media (max-width: $mobile-vertical) {
            max-width: 80px;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 7px 15px;
        }
    }

    &__side-arrow {
        width: 18px;
        height: 18px;
        transition: 0.25s;
        cursor: pointer;

        &_open {
            transform: rotate(-90deg);
        }
    }

    &__low-priority {
        @media (max-width: $mobile-vertical) {
            display: none;
        }
    }
}