<div class="form">
    <h2 class="form__title">Создание товара</h2>
    <div class="form__block">
        <div class="form__label">Название</div>
        <input class="form__field" type="text"/>
    </div>
    <div class="form__block">
        <div class="form__label">Описание</div>
        <textarea class="form__area"></textarea>
    </div>
    <div class="form__block">
        <div class="form__label">Цена</div>
        <input class="form__field" type="number" min="0"/>
    </div>
</div>
