<div class="storage">
    <h1 class="storage__title">Список товаров в магазине</h1>
    <ul class="storage__list">
        <% @items.each do |item|%>
            <li class="storage__item rlc">
                <div class="storage__row-block rlc">
                    <div class="storage__text storage__text_bold">#<%= item.id %></div>
                    <div class="storage__text"><%= item.name %></div>
                </div>
                <div class="storage__row-block rlc">
                    <div class="storage__price"><%= item.price %> $</div>
                </div>
                <%= link_to "Редактировать", edit_item_path(item), {class: "storage__btn"} %>
            </li>
        <% end %>
    </ul>
</div>
