<div class="storage">
    <h1 class="table__title">Список товаров в магазине</h1>
    <ul class="table__list">
        <% @items.each do |item|%>
            <li class="table__item rlc">
                <div class="table__row-block rlc">
                    <div class="table__text table__text_bold">#<%= item.id %></div>
                    <div class="table__text"><%= item.name %></div>
                </div>
                <div class="table__row-block rlc">
                    <div class="table__price"><%= item.price %> $</div>
                </div>
                <%= link_to "Редактировать", edit_item_path(item), {class: "table__btn"} %>
            </li>
        <% end %>
    </ul>
</div>
