<div class="storage">
    <h1 class="storage__title">Список товаров в магазине</h1>
    <div class="storage__item rlc">
        <div class="storage__text">#16459</div>
        <div class="storage__text">Товар 1</div>
        <div class="storage__text">290.99$</div>
        <div class="storage__btn">Редактировать</div>
    </div>
</div>
